extends layout

block content
  h2 Matches
  table(class='table table-striped')
    thead
      tr
        each header in ['Matched', 'With']
          th= header
    tbody
      each members in matches
        tr
          td= members.a.merges.FNAME + ' ' + members.a.merges.LNAME + ' (' + members.a.merges.EMAIL + ')'
          td= members.b.merges.FNAME + ' ' + members.b.merges.LNAME + ' (' + members.b.merges.EMAIL + ')'